<h1>Ajouter Utilisateur</h1>

<!-- Mettre a jour avec les infos correctes -->
<form action="/utilisateur" method="POST">
  <input type="text" name="name" placeholder="Nom" required>
  <input type="email" name="email" placeholder="Email" required>
  <button type="submit">Ajouter</button>
</form>