<h1>Utilisateurs</h1>
<ul>
  <% utilisateur.forEach(utilisateur => { %>
    <li><%= utilisateur.email %> - <a href="/utilisateur/<%= utilisateur.id %>">Détails</a></li>
  <% }); %>
</ul>
<a href="/utilisateur/new">Ajouter</a>